* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
}

#container {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  background: rgba(255, 255, 255, 0.984);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

/* .canvas-wrap {
  display: flex;
  justify-content: center;
} */

#canvas1 {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
  margin: auto;
  /* min-width: 600px; */
}
/* @media (max-width: 600px) {
  #canvas1 {
    max-width: 800px;
  }
}

@media (max-width: 375px) {
  #canvas1 {
    max-width: 100px;
  }
}

@media (max-width: 320px) {
  #canvas1 {
    min-width: 260px;
  }
} */

#audio1 {
  /* width: 50%; */
  /* margin: 50px auto; */
  /* display: block; */
}

#fileupload {
  /* position: absolute;
  top: 100px;
  color: lime; */
}
