/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;/
}
body {
  background-color: #e5e5f7;
  opacity: 0.78;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

#container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 900px;
  margin-top: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px px 10px;
  border-radius: 10px;
}

#audioControls {
  width: 89.8vw; /* Match the width of the canvas-wrap */
  max-width: 900px; /* Match the max-width of the canvas-wrap */
  display: flex;
  justify-content: space-between; /* This will put space between your buttons */
  margin-top: 15px;
}
button {
  padding: 8px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: #7d7676;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 10px;
  border: 2px solid #7d7676;
  flex: 1; /* This will make each button take up half of the container's width */
}

button:first-child {
  margin-right: 5px; /* Half the spacing you want between buttons */
}

button:last-child {
  margin-left: 5px; /* Half the spacing you want between buttons */
}

.canvas-wrap {
  margin-top: 5px;
  width: 90vw;
  max-width: 900px; /* Adjust based on your preference */
}

canvas {
  width: 100%;
  height: auto;
  max-height: 600px; /* Adjust based on your preference */
  background-color: #000;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .canvas-wrap {
    width: 95vw;
  }
  #container {
    width: 95vw;
  }
  button {
    padding: 8px 16px;
    width: 25.62rem;
  }
}

@media (max-width: 915px) {
  .canvas-wrap {
    width: 90vw;
  }
  button {
    padding: 8px 16px;
    width: 18.27rem;
  }
}
