* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
}

#container {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  background: rgba(255, 255, 255, 0.984);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

.canvas-wrap {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#canvas1 {
  /* position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  justify-content: center;
  width: 600px;
  height: 600px;
  border: 2px solid blue;
  /* filter: blur(5px) contrast(10); */
}

#audio1 {
  width: 50%;
  margin: 50px auto;
  display: block;
}

#fileupload {
  position: absolute;
  top: 100px;
  color: lime;
}
